.search{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(237, 237, 237); */
    background: var(--color-bg);
    box-shadow: inset 3px 3px 3px var(--neu-dark),
                inset -3px -3px 3px var(--neu-light),
                3px 3px 5px var(--neu-dark),
                -3px -3px 5px var(--neu-light);
    padding: .5rem;
    border-radius: 3rem;
}

.search .search-icon{
    background: linear-gradient(145deg , rgb(202, 236, 255), var(--color-primary));
    color: white;
    box-shadow: 3px 3px 5px rgba(1, 38, 111, 0.5),
                -3px -3px 5px rgba(242, 251, 255, 0.9);
                font-size: 1.5rem;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.search:hover .search-input{
    width: 10rem;
    font-size: 1rem;
    padding-left: 1rem;
}

.search .search-input{
    width: 0;
    /* display: none; */
    border: none;
    outline: none;
    background: transparent;
    transition: var(--transition);
}