nav{
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blueviolet; */
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav .logo img{
    width: 5rem;
}

nav .logo h2 span{
    color: var(--color-primary);
}

nav .toggle{
    cursor: pointer;
    padding: .5rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* width: 6rem; */
    border-radius: 3rem;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 3px 3px 3px var(--neu-dark),
                inset -3px -3px 3px var(--neu-light);
}

nav .toggle span{
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition);
}

nav .toggle .active{
    background: linear-gradient(145deg , rgb(202, 236, 255), var(--color-primary));
    color: white;
    box-shadow: 3px 3px 5px rgba(1, 38, 111, 0.5),
                -3px -3px 5px rgba(242, 251, 255, 0.9);
}